footer {
  display: flex;
  flex-direction: column;
  background-color: #232027;
  color: white;
}
.footer-link {
  color: #9f9ea2;
  padding: 0.2rem;
}
.footer-link:hover {
  cursor: pointer;
  color: aqua;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}
.social-media svg {
  margin: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
}
.social-media svg:hover {
  cursor: pointer;
  fill: aqua;
}
@media screen and (min-width: 1440px) {
  footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 2fr;
    padding: 3rem;
  }
  footer h3,
  h1 {
    margin-top: 0;
  }
  .social-media {
    padding: 0;
  }
}
